{% extends "base.html" %}

{% set page_title = "Overzicht RSVPs" %}

{% block page_content %}
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Naam</th>
            <th>Aanwezig</th>
            <th>E-mail</th>
            <th>Partner</th>
        </tr>
    </thead>
    <tbody>
        {% for rsvp_instance in rsvp_instances %}
        <tr>
            <td><a href="{{ url_for('manage_rsvp', rsvp_code=rsvp_instance.rsvp_code) }}"><code>{{ rsvp_instance.rsvp_code }}</code></a></td>
            <td>{{ rsvp_instance.guest_first_name }} {{ rsvp_instance.guest_last_name }}</td>
            <td>{{ "Ja" if rsvp_instance.guest_present else "Nee" }}</td>
            <td>{{ rsvp_instance.guest_email | default('', boolean=true) }}</td>
            <td>{% if rsvp_instance.with_partner %}{{ rsvp_instance.partner_first_name }} {{ rsvp_instance.partner_last_name }}{% else %}&mdash;{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if rsvp_instances | length > 0 %}<p><a href="{{ url_for('rsvp_csv') }}" class="paper-btn">Download</a></p>{% endif %}
{% endblock %}
